{% extends "index.html" %}
{%  load static %}

        {% block content %}
      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-6">
            <div class="row m-sm-0">
                <div class="col-sm-10 order-1 order-sm-2">
                  <div class="swiper product-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide h-auto"><a class="glightbox product-view" href="{{ model.watch_image.url}}" data-gallery="gallery2" data-glightbox="Product item 1"><img class="img-fluid" src="{{ watch.watch_image.url}}" alt="..."></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- PRODUCT DETAILS-->
            <div class="col-lg-6">
              <h1>{{ watch.name}}</h1>
              <p class="text-muted lead">{{watch.price}}$</p>
              <div class="row align-items-stretch mb-4">
                <div class="col-sm-3 pl-sm-0"><a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="{% url 'add to cart' watch.slug %}">Add to cart</a></div>
                <div class="col-sm-3 pl-sm-0"><a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="{% url 'remove from cart' watch.slug %}">Remove</a></div>
            </div>
          <!-- DETAILS TABS-->
          <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="p-4 p-lg-5 bg-white">
                <h6 class="text-uppercase">Product description </h6>
                <p class="text-muted text-sm mb-0">{{ watch.description }}</p>
              </div>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <div class="p-4 p-lg-5 bg-white">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="d-flex mb-3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}